.hover-button {
  position: relative;
  padding: 10px 20px;
  background-color: rgb(60, 46, 28);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.2s ease;
  
}

.hover-button span {
  display: block;
  transition: all 0.3s ease;
}

.hover-button .default-text{font-weight: 500;}
.hover-button .hover-text {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0;
  font-weight: 500;
}

.hover-button:hover .default-text {
  transform: translateY(-100%);
  opacity: 0;
  
}

.hover-button:hover .hover-text {
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
}

.hover-button:hover {
  background-color: #ffd43b;
  color: black;
}